html {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 900px;
}
header {
    padding: 0;
    margin: 0;
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    background-color: blueviolet;

}
.logo {
    margin: 25px;
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    max-height: 150px;
}
.navigation {
    max-width: 1800px;
    min-width: 900px;
    position: relative;
    margin-left: 575px;
    margin-top: -140px;
}
ul {
    position: relative;
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
    left: -20%;

}
li{
    display: inline;
    margin: 40px;
    font-size: 24px;
}
@media (max-width: 1600px) {
    .MainPage {
        position: absolute;
        left: -2%;
        top: -15%;
    }
    .About {
        position: absolute;
        left: -2%;
        top: 15%;
    }
    .content {
        position: absolute;
        left: 0;
        top:40%;
    }
}
a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}
a:hover {
    background-color: orange;
}
.content {
    position: absolute;
    margin-top: 10%;
    max-width: 80%;
    max-height: 100%;
}
.aboutinfo {
    max-width: 100%;
    position: relative;
    left: 10%;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
span {
    color: #3a5cd7;
}
.for-link-back {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 55%;

}
.back {
    color: black;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}